.coffee-House {
    border: 1px dotted maroon;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 2em;
    padding-left: 4em;
    padding-right:4em;
    margin: 0.5em;
    flex-basis: 16%;
}

.title {
    text-align: center;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}